:root {
    --primary-color: #6f6f6f ;
    --secondary-color: #080564 ;
    --accent1-color: #c98512 ;
    --accent2-color: #00fd15 ;

    --heading-font: 'Merriweather' ,serif;
    --paragraph-font: 'Roboto' ,sans-serif;


}

body {
    font-family: var(--paragraph-font);
    
}
header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color: #0AA3CF;

}
nav {
    display: flex;
    font-family: var(--heading-font);
    justify-content: space-around;
}
nav a {
    display: flex;
    padding: 0,5;
    margin: -0.14;
    font-family: var(--heading-font);
    color: #fff;
}



h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}


header, main, footer {
    max-width: 1200px;
    margin: 0 auto
}

.hero {
    position: relative;
}
.hero>img {
    width: 100%;
}
.hero h1 {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff95;
    padding: 1rem;
    color: var(--secondary-color);
    font-size: 3rem;
}

.hero article {
    background-color: #ffffff95;
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;


}
.hero article img{
    float: right;
    margin: 2rem;
    width: 13rem;
}

.hero article p {
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 500;
}


.social {
    grid-column: 3;
    justify-self: end;
}


.social img {
    width: 3em;
}

footer {
    background-color: #0AA3CF;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2rem;
}
